* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 1.5rem;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  color: hsl(215, 51%, 70%);
}

.card {
  max-width: 21.875rem;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
}
@media (min-width: 48em) {
  .card {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }
}
.card__link:link, .card__link:visited {
  display: inline-block;
  position: relative;
  margin-bottom: 1.5rem;
}
.card__link:hover .card__image__icon, .card__link:active .card__image__icon {
  opacity: 1;
}
.card__link:hover .card__image, .card__link:active .card__image {
  background-color: hsl(178, 100%, 50%);
}
.card__link:hover .card__image img, .card__link:active .card__image img {
  opacity: 0.7;
}
.card__image {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.card__image img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.card__image__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
  z-index: 99;
}
.card__title {
  margin-bottom: 0.75rem;
  font-size: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48em) {
  .card__title {
    margin-bottom: 1rem;
  }
}
.card__title__link:link, .card__title__link:visited {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.card__title__link:hover, .card__title__link:active {
  color: hsl(178, 100%, 50%);
}
.card__description {
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 1rem;
}
@media (min-width: 48em) {
  .card__description {
    margin-bottom: 1.5rem;
  }
}
.card__information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 1rem;
}
@media (min-width: 48em) {
  .card__information {
    padding-bottom: 1.5rem;
  }
}
.card__information__value, .card__information__time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9375rem;
}
@media (min-width: 48em) {
  .card__information__value, .card__information__time {
    font-size: 1rem;
  }
}
.card__information__value {
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}
.card__information::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
}
.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.card__author__image {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  border: 1px solid hsl(0, 0%, 100%);
}
.card__author__text {
  font-size: 0.9375rem;
}
@media (min-width: 48em) {
  .card__author__text {
    font-size: 1rem;
  }
}
.card__author__link:link, .card__author__link:visited {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.card__author__link:hover, .card__author__link:active {
  color: hsl(178, 100%, 50%);
}

/*# sourceMappingURL=styles.css.map */
