* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 1.5rem;
  background-color: hsl(225, 100%, 94%);
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}
@media (min-width: 64em) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
  }
}

.order {
  display: flex;
  flex-direction: column;
  max-width: 28.125rem;
  border-radius: 20px;
  background-color: hsl(225, 100%, 98%);
  overflow: hidden;
}
.order__image {
  overflow: hidden;
}
.order__image img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.order__content {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  text-align: center;
}
@media (min-width: 64em) {
  .order__content {
    padding: 2.8125rem 3rem 3rem 3rem;
  }
}
.order__title {
  font-size: 1.375rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  .order__title {
    font-size: 1.75rem;
  }
}
.order__description {
  font-size: 0.9375rem;
  line-height: 25px;
  color: hsl(224, 23%, 55%);
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}
@media (min-width: 64em) {
  .order__description {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1.25rem;
  }
}
.order__plan {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 11px;
  background-color: hsl(225, 100%, 98%);
}
@media (min-width: 64em) {
  .order__plan {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
.order__link-change:link, .order__link-change:visited {
  font-size: 0.8125rem;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}
.order__link-change:hover, .order__link-change:active, .order__link-change:focus {
  text-decoration: none;
  color: hsl(245, 83%, 68%);
}
.order__btn {
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 0.9375rem 2rem;
  border: 0;
  border-radius: 11px;
  box-shadow: 0 20px 20px rgba(56, 42, 225, 0.2);
  cursor: pointer;
  background-color: hsl(245, 75%, 52%);
  font-size: 0.9375rem;
  font-weight: 900;
  color: #fff;
}
@media (min-width: 64em) {
  .order__btn {
    margin-bottom: 2rem;
  }
}
.order__btn:hover, .order__btn:focus {
  background-color: hsl(245, 83%, 68%);
}
.order__link-cancel:link, .order__link-cancel:visited {
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
}
.order__link-cancel:hover, .order__link-cancel:active, .order__link-cancel:focus {
  color: hsl(223, 47%, 23%);
}

.plan {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 1.25rem;
  text-align: left;
}
@media (min-width: 64em) {
  .plan {
    gap: 6px;
  }
}
.plan__title {
  font-size: 0.875rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
@media (min-width: 64em) {
  .plan__title {
    font-size: 1rem;
  }
}
.plan__value {
  font-size: 0.875rem;
  color: hsl(224, 23%, 55%);
}
@media (min-width: 64em) {
  .plan__value {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
